
please wait .............
now entering into website ............
now signing in ............
successfully signed in ............
now going to order list ...........

Your total order pages >> 12
normally each page has 10 items
________________________________________ 

list -----  [14.77, 2.49, 9.08]
page 01  >  26.34 USD
Subtotal =  26.34 

list -----  [2.23, 3.66, 2.8, 2.98, 1.98, 1.68, 5.45, 25.91]
page 02  >  46.69 USD
Subtotal =  73.03 

list -----  [1.93, 7.13, 6.36, 1.43, 1.99, 12.32, 2.21, 3.89, 9.29, 0.65]
page 03  >  47.20 USD
Subtotal =  120.23 

list -----  [3.89, 0.65]
page 04  >  4.54 USD
Subtotal =  124.77 

list -----  []
page 05  >  0.00 USD
Subtotal =  124.77 

list -----  [4.99, 10.36, 93.53, 27.94, 2.94, 2.94, 193.83]
page 06  >  336.53 USD
Subtotal =  461.30 

list -----  [10.71, 206.0, 7.91, 6.99]
page 07  >  231.61 USD
Subtotal =  692.91 

list -----  [5.9, 115.73, 56.35, 133.0, 15.25]
page 08  >  326.23 USD
Subtotal =  1019.14 

list -----  [129.0, 2.65, 20.99, 41.11, 28.97, 20.04, 42.99]
page 09  >  285.75 USD
Subtotal =  1304.89 

list -----  [107.0, 143.0, 273.0, 48.04, 3.46]
page 10  >  574.50 USD
Subtotal =  1879.39 

list -----  [6.11, 208.8, 3.18]
page 11  >  218.09 USD
Subtotal =  2097.48

list -----  [73.8]
page 12  >  73.80 USD
Subtotal =  2171.28

Your confirm paid amount:   2171.28 USD

and Cancelled paid amount:  2456.12 USD

and your TOTAL transaction: 4627.40 USD
_______________________________________

Processed time is  >>  170.22 seconds
